:root {
  --background-footer: #fb1;
  --color_footer: #764701;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1, h2, h3, h4, p {
  margin: 0;
}

footer {
  background-color: var(--background-footer);
  color: var(--color_footer);
  text-align: center;
  height: 10rem;
  padding: 3rem 1rem 0;
}